
body {
    background-color: #B2A5FF;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    background-color: #B2A5FF;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    
    
}

#restart-game {
    display:inline-block;
    background-color: #DAD2FF;
    width: 200px;
    margin-top: 20px;
    border: 4px solid #B2A5FF;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 16px;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    transition: all 0.2s;
    color: black;
}
#restart-game:focus {
    outline: none;
}

#restart-game:hover {
    border-color: white;
}